
<div class="grid-c">
    <div id="filler" class='grid-i'>
    <div style="padding: 30px; color: white; justify-content: center; margin-top: 29vh;" ><h1> Welcome to the School Name </h1>  </div>  
    <p style="color: white; font-size: large; ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores ipsam accusantium, rerum delectus debitis nihil recusandae praesentium consectetur et voluptates eos, cupiditate quaerat dicta temporibus illo ex labore possimus asperiores!</p>
    </div>
<div id="con" class='grid-i'> <app-content-form></app-content-form>    </div>


</div>